### Laravel ###
vendor/
node_modules/
npm-debug.log
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

laravel-echo-server.json
public/css
public/js
public/uploads
public/images
public/img
public/*.pdf
public/*.webmanifest
public/*.png
public/*.svg
public/*.xml
.phpunit.result.cache
npm-debug.log
yarn-error.log
laravel-echo-server.lock
.DS_Store
.idea
.vscode
.vagrant
public/js/client.js
public/js/admin.js
