.nothing-found {
  width:100%;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08);
  background-color: $Main-pale-lilac;
  border-radius: 3px;
  height: 50px;
  span {
    font-family: "Lato";
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $Main-text-purplish-grey;

  }
}