.pro__email-box-body {
  input {
    outline: none;
    font-family: "Lato";
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $Main-text-purplish-grey;
  }
}