.welcome {
    padding: 14px 18px;
    flex-direction: column;
    .description {
        margin: 20px 0;
        // margin: 0px;
    }
    .social_web__container {
        // margin-top: 0px;
        position: relative;
    }
}
